APP_PORT=3001

APP_FOR=local

DB_HOST=localhost
DB_NAME=FIBER
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=galau712

JWT_EXPIRATION=1d
JWT_ACCESS_TOKEN_SECRET = golearnaccess
JWT_REFRESH_TOKEN_SECRET = golearnrefresh